<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    {# <link rel="icon" href="../../favicon.ico"> #}

    <title>Warehousing use case</title>

    {% stylesheets
      '@bootstrap_css'
      '@wh_css'
    filter='cssrewrite' output='css/app.css' %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />


    {% endstylesheets %}    

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Warehousing use case</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Reload for new wh admin</a></li>            
          </ul>
        </div>
      </div>
    </nav>


    {#Side bar tree panel with warehouse assets. #}
    {% include 'WHBundle:Default:side_bar_tree_panel.html.twig' %}
    
        <div class="col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-4 main">
          <h1 class="page-header">Contracts</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              
            </div>
          </div>



          <h2 class="sub-header">Current shipment</h2>
          {% include 'WHBundle:Default:shipment_panel.html.twig' %}

           <div class="row">
              {% include 'WHBundle:Default:contracts_panel.html.twig' %}
          </div>

        </div>
      </div>
    </div>

    {% block javascripts %}
      {% javascripts
        '@jquery' 
        '@bootstrap_js'
        '@wh_js'
        output='js/app.js'
       %}
    
          <script type="text/javascript" src="{{ asset_url }}"></script>
    
      {% endjavascripts %}
    {% endblock %}



{#
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> #}

  </body>
</html>

