<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Shipment panel</div>
  <div class="panel-body">
    <p>Elements added:</p>
  </div>

  <!-- Table -->
  <table class="table" id="current_shipment_table">
    <thead>
    	<tr>
    	<td>
    		Imei
    	</td>

    	<td>
    		Master
    	</td>

    	<td>
    		Pallet
    	</td>


    	<td>
    		Warehouse
    	</td>


    	<td>
    		Delete from shipment
    	</td>

    	</tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>